<!DOCTYPE html>
{% load static %}
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>{% block head_title %}Blog{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'blog/bootstrap/bootstrap.min.css' %}" media="screen">
        <script src="https://kit.fontawesome.com/8cf892c142.js" crossorigin="anonymous"></script>
    </head>
<body>
    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container"><p class="m-0 text-center text-white">Copyright &copy; WISHTY's Website 2021</p></div>
    </footer>
</body>
</html>